# Default ignored files
/shelf/
/xml/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/ro

# keys
/cmd/private_key.pem
/cmd/public_key.pem

# instead usies heroku env
/.env

# .exe file
/cmd/GameEduApp.exe